<main id="project-content">
    <!--Here goes the main content of the index page-->
    <h2>AccidentMate Internship Programme - Boot Camp</h2>

    <h4>Internship : Goals & Objectives</h4>

    <ul>
        <li>Learn the core technology concepts & problem domain</li>
        <li>Contribute professionally & active participation.</li>
        <li>Creative involvement & continious improvement.</li>
    </ul>

    <a routerLinkActive="active" routerLink="/projects" class="blue-link">List of demo projects here.</a>
    
</main>